:root {
    --valid-color: #0b6d0b;
    --error-color: #c00404;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}
button[type="submit"] {
    width: 55px;
    padding: 10px;
    margin-left: 120px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;    
}
.blog-group-new {
  margin-bottom: 15px;
}
 
.blog-group-new {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.blog-group-new input[type="text"] {
width: calc(100% - 22px); /* Account for padding and border */
padding: 10px;
border: 1px solid #ddd;
border-radius: 4px;
box-sizing: border-box;
}

.blog-group-new.valid input {
    border-color: var(--valid-color);
}
.blog-group-new.error input {
    border-color: var(--error-color);
}
.blog-group-new span {
    color: var(--error-color);
}
button[type="submit"]:hover {
    background-color: #2980b9;
}
